# No se anexan los datasets al repositorio debido a el peso que representan
data/raw/holidays_events.csv
data/raw/items.csv
data/raw/oil.csv
data/raw/sample_submission.csv
data/raw/stores.csv
data/raw/test.csv
data/raw/train.csv
data/raw/transactions.csv
infra/data
data/processed/parted_train
data/processed/clear_oil_raw_Dukascopy.csv
data/processed/clear_train.csv
data/raw/oil_raw_Dukascopy.csv